<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Europena {% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'expertpage/style.css' %}">

    <!-- Paging -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'expertpage:index' %}">
                Europena
            </a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class={% block albums_active %} {% endblock %}>
                    <a href="{% url 'expertpage:index' %}">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> &nbsp;
                        Expert
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'evaluation:index' %}">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> &nbsp;
                        Evaluation
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>